@charset "UTF-8";
/* style.css */
/* 초기화 코드 불러오기 */
@import url("./reset.css");
/* 헤더 및 gnb */
#main_header-bg {width: 100%; background: #0b7dad;}
#main_header {
  background: #01567a;
  width: 1200px;
  height: 68px;
  margin: 0 auto;
  position: relative;
}

#main_header > .logo {
  width: 387px;
  height: 68px;
  background: #689bb1;
  padding-left: 20px;
  float: left;
}

#main_header > .logo a {
  color: #fff;
  line-height: 68px;
  font-size: 24px;
  font-weight: 800;
}

/* 메인메뉴 */
#main_gnb {
  float: right;
  padding-right: 20px;
  /* outline: 1px solid red; */
  margin-top: 25px;
}

#main_gnb > ul > li {
  display: inline-block;
  margin-left: 30px;
}

#main_gnb > ul > li > a {
  color: #fff;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: bolder;
}
#main_gnb > ul > li > a:hover {
  color: #b080bc;
  border-bottom: 2px solid #b080bc;
}

/* 메인 비주얼 */
#main_visual {
  width: 1200px;
  height: 617px;
  background: #ccc;
  margin: 0 auto;
  overflow: hidden;
}

#main_visual > .left {
  position: relative;
  width: 387px;
  height: 100%;
  background: #689bb1;
  float: left;
}

#main_visual > .left > .title {
  position: absolute;
  width: 900px;
  height: 1000px;
  background: #9bcde2;
  left: -60px;
  top: 310px;
  padding: 20px;
  border-radius: 600px;
}

#main_visual header h2 span {
  display: block;
  color: #fff;
  margin-left: 240px;
}

#main_visual header h2 span:first-child {
  font-size: 40px;
  text-transform: uppercase;
  margin-top: 100px;
}

#main_visual header h2 span:last-child {
  font-size: 60px;
  text-transform: uppercase;
  font-weight: bolder;
}

#main_visual > .right {
  width: 813px;
  height: 100%;
  background: pink;
  float: right;
  background-image: url("../images/visual1.jpg");
  background-size: cover;
}

/* about */
#about-bg {
  width: 100%; 
  background: #ececec;
}
#about {
  width: 1200px;
  height: 685px;
  margin: 0 auto;
  padding-top: 100px;
  overflow: hidden;
}

#about > .about_left {
  position: relative;
  width: 550px;
  height: 100%;
  /* outline: 1px solid red; */
  float: left;
  background-image: url(../images/shape3.png);
  background-repeat: no-repeat;
  background-position: 260px 470px;
}

#about > .about_left > .box {
  position: absolute;
  width: 360px;
  height: 410px;
  background: #202020;
  left: 45px;
}

#about > .about_left > img {
  position: relative;
  left: 90px;
  top: 45px;
}

#about > .about_right {
  width: 600px;
  /* outline: 1px solid red;   */
  float: right;
  padding-top: 50px;
}

/* 각 섹션 영역의 공통 헤더 스타일 */
.section_header > span {
  font-size: 24px;
  font-weight: bolder;
  /* background: #fef200; */
  text-align: right;
  padding-left: 50px;
}

.section_header > h2 {
  font-size: 48px;
  font-weight: bolder;
}

#about .about_right article {
  padding-right: 80px;
  line-height: 1.6;
}

/* 작품소개 */
#works {
  width: 1200px;
  margin: 0 auto;
  overflow: hidden;
  padding-top: 100px;
  padding-bottom: 100px;
}

#works .section_header {
  text-align: center;
}

#works .section_header>span {
  padding-left: 160px;
}

#works>nav {
  text-align: center;
  font-size: 20px;
  margin-bottom: 80px;
  margin-top: 50px;
}

#works>nav>a {
  color: #202020;
  margin-left: 25px;
  margin-right: 25px;
  text-transform: uppercase;
  font-weight: bolder;
  /* outline: 2px solid red; */
}
#works>nav>a:hover {
  color: #689bb1;
  border-bottom: 2px solid #689bb1;
}

#work_list_all {
  width: 1000px;
  margin: 0 auto;
}

#work_list_all li {
  position: relative;
  width: 320px;
  height: 300px;
  overflow: hidden;
  /* margin-right: 20px; */
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 20px;
  float: left;
}
#work_list_all li a {
  position: relative;
  display: block;
  /* border: 1px solid red; */
  /* 작품 이미지 클리필(확대시 영역 가림) */
  overflow: hidden;
  width: 100%; height: 100%;
  text-align: center;
  
}
#work_list_all li img {
  width: 100%;
}

/* hover 박스 */
#work_list_all li>a>.info {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: #689bb1;
  display: none;
  opacity: 0.9;
  color: #fff; padding-top: 110px;
  font-weight: bold;
}

#work_list_all li:hover .info {
  display: block;
}

/* 모션 확대 효과 */
#work_list_all li img {
  transition: 0.5s;
}

#work_list_all li:hover img {
  transform: scale(1.2);
}
#work_list_all > #web li > a > .info >p {
  padding-top: 20px;
}
#work_list_all > #graphic li > a > .info >p {
  padding-top: 20px;
}
#work_list_all > #uiux li > a > .info >p {
  padding-top: 20px;
}

/* footer */
/* 푸터섹션 */
#contact-bg{
  width: 100%;
  background: #01567a;
}
#contact {
  width: 1200px;
  height: 280px;
  margin: 0 auto;
}
#contact > .section_header {
  text-align: center;
  padding-top: 30px;
  color: #fff;
}
#contact > .section_header > h2 {
  margin-bottom: 30px;
}
#contact > #footer_content {
  width: 1200px;
  /* outline: 2px solid red; */
}
#contact > #footer_content > ul{
  overflow: hidden;
}
#contact > #footer_content > ul > li {
  position: relative;
  width: 380px;
  height: 50px;
  overflow: hidden;
  float: left;
  margin-left: 20px;
  margin-bottom: 30px;
  /* outline: 2px solid red; */
  text-align: center;
}
#contact > #footer_content > li:last-child{
  margin-right: 10px;
}
#contact > p {
  color: #fff;
  text-align: center;
}
#footer_content > ul > li > p {
  color: #fff;
}
#footer_content > ul > li > a{
  color: #fff;
  margin: 0 auto;
 
}
#footer_content > ul > li > a img{
  width: 25px;
} 
/* end footer */


/* 서브페이지 */
#work01 #works {
  padding: 0;
}

#work01 #works .section_header {
  background: #ccc;
  background-image: url("http://placeimg.com/1200/200/tech/a");
  height: 200px;
}

#work01 #works .section_header h2 {
  margin: 0;
  line-height: 200px;
  color: #fff;
  text-shadow: 2px 2px 2px #333;
}

#work01 #works .section_header h2 span {
  font-size: 20px;
}

#works article {
  position: relative;
  padding-top: 100px;
  padding-bottom: 100px;
  background: rgb(219, 219, 219);
  /* outline: 2px solid red; */
  margin: 0 auto;
}

section article h2 {
  text-align: center;
  margin-bottom: 3em;
  padding-bottom: 10px;
  /* border-bottom: 2px solid #ccc; */
}

#btn_toggle {
  display: none;
}

#works > article > ul >li img {
  width: 450px;
  margin-right: 80px;
  /* outline: 2px solid red; */
  margin-bottom: 2em;
}
#works > article > ul >li img:first-child {margin-left: 110px;}

#works > article > ul >li img:last-child {
  margin-left: 0;
  margin-right: 0;
}
#works > article > p {
  width: 1000px; height: 200px;
  /* outline: 2px solid red; */
  margin: 0 auto;
  line-height: 30px;
  font-size: 20px;
}
#works > article > p > strong {
  font-size: 28px;
  line-height: 0px;
}
#works > article > a{
  margin-left: 100px;
  padding-bottom: 4px;
  color: #000;
  border-bottom: 1px solid #000;
}
#works > article > a:hover {
  background: #01567a;
  padding: 10px;
  color: #fff;
  border-radius: 10px;
}


/*# sourceMappingURL=pc.css.map */